$primary: #ffe306;
$secondary: #333533;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

audio {
  width: 100%;

  // &::-webkit-media-controls-panel {
  //   background-color: #333533;
  // }

  &::-webkit-media-controls-play-button {
    background-color: #ffe306;
    border-radius: 50%;
  }
}
